.cohete {
    width: 20%;
    height: 30%;
    animation: jello-vertical .9s linear both;


    .jello-vertical {
        animation: jello-vertical .9s linear both
    }

    @keyframes jello-vertical {
        0% {
            transform: scale3d(1, 1, 1)
        }

        30% {
            transform: scale3d(.75, 1.25, 1)
        }

        40% {
            transform: scale3d(1.25, .75, 1)
        }

        50% {
            transform: scale3d(.85, 1.15, 1)
        }

        65% {
            transform: scale3d(1.05, .95, 1)
        }

        75% {
            transform: scale3d(.95, 1.05, 1)
        }

        100% {
            transform: scale3d(1, 1, 1)
        }
    }
}

body {
    --s: 80px;

    --_g: radial-gradient(#F4EAD5 31%, transparent 32%);
    --_l: radial-gradient(#594F4F 15%, transparent 16%);

    background: #45ADA8;
    background-image: var(--_l), var(--_l), var(--_g), var(--_g);
    background-position: 0 0, var(--s) var(--s);
    background-size: calc(2*var(--s)) calc(2*var(--s));

    animation:
        x 2s cubic-bezier(0.5, 92, 0.5, -92) infinite,
        y 2s cubic-bezier(0.5, 92, 0.5, -92) infinite -.5s;
        @media  {max-width: 600px;
        
        
    }
body {
    color: #45ADA8;
    text-align: center;
font-size: 14px;
padding: 10px;
.menu{

display:block;

}

}

@keyframes x {
    to {
        background-position-x:
            -.25px, calc(var(--s) - 1px),
            -.5px, calc(var(--s) - .5px);
    }
}

@keyframes y {
    to {
        background-position-y:
            -.25px, calc(var(--s) - 1px),
            .25px, calc(var(--s) - .5px);
    }
}